body, html {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    display: block;
    text-align: center;
}

.logo {
    background-image: url(../images/WikiHarryPotterGif3.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: auto;
}

.bar {
    border: solid 1px #0000ff;
}

.content {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0, 18%) minmax(0,64%) minmax(0,18%);
}

.sidenav {
    background-color: #ffeded;
    border-right: solid 3px #c51616;
}

.sidenav h2{
    text-align: center;
}

.sidenav ul {
    text-align: center;
    list-style: none; /*deixa sem as bolinhas pretas*/
    padding-left: 10%;
    padding-right: 10%;
}

a { 
    color:blue; 
    text-decoration: none;
    user-select: none; 
    cursor: pointer;
}

a:hover {
    color: #16c54b;
}

.main {
    font-size: 120%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

.figure1 img {
    width: 20%;
    float: right; /*Deixa a imagem flutuando para que o texto fique em volta*/
    margin-top: 5%;
}

.figure2 img{
    max-width: 100%;
    width: 30%;
    margin-bottom: 3%;
    float: none;
    padding-left: 35%;
}

.figure3 img{
    max-width: 100%;
    width: 60%;
    margin-bottom: 3%;
    float: none;
    padding-left: 18%;
}

.main ul {
    text-align: justify;
    padding-top: 1%;
}

.anchors {
    background-color: #ffffe7;
    border-left: solid 3px #ffff00;
    padding-left: 20px;
}

.anchors ul {
    text-align: center;
    list-style: none; /*deixa sem as bolinhas pretas*/
    padding-left: 5%;
    padding-right: 5%;
}

.footer {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    padding: 1%;
    border-top: solid 3px #16c516;
    background-color: #eaffee;
    color: #000000;
}
